// modify HTML defaults
* {
    box-sizing: border-box;
}

h1 {
    font-weight: 300;
    font-size: 1.2em;
}

h2, h3 {
    font-weight: 300;
    font-size: 1.2em;
}

p {
    line-height: 1.5em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

// general app style
body {
    background-color: $black;
    color: $white;
    font-family: monospace;
    font-size: 1.2em;
    min-height: 100vh;
}

#root {
    display: flex;
}

// reused UI bits
.button-round {
    border-radius: 100%;
    background-color: $grey;
}

// a11y
.keyboard-nav {
    button:not(:disabled) {
        &:focus {
            border: 1px solid;
        }
    }
}