.tag {
    vertical-align: middle;
    position: relative;
    text-align: left;
    padding: $pad-xs $pad-md;
    color: $white;
    border-color: transparent;

    &::before {
        position: absolute;
        content: ' ';
        width: 8px;
        height: 8px;
        border-radius: 100%;
        top: 50%;
        margin-top: -4px;
        left: 4px;
    }
}

$categories: 'js', 'design', 'platform', 'solo';
$colors: $color-js, $color-design, $color-platform, $color-solo;

@for $i from 1 through 4 {
    .tag-#{nth($categories, $i)} {
        &::before {
            background-color: nth($colors, $i);
        }
    }
}