button, .button, %button {
    background: transparent;
    border: 1px dotted;
    color: $white;
    padding: $pad-xs;

    &:focus {
        outline: none;
    }

    &:not(:disabled) {
        &:hover {
            border: 1px solid;
        }
    }
}

.icon-button {
    @extend %button;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: $grey;
}

a.icon-button {
    width: auto;
    text-decoration-style: dotted;

    span {
        white-space: nowrap;
        margin: 0 $pad-xs;
    }

    &:hover {
        text-decoration-style: solid;
    }
}