// colors
$black: #1c1c1c;
$grey: #222;
$white: #eee;

$blue: #44f;
$green: #4f4;
$cyan: #4ff;
$red: #f44;
$pink: #f4f;
$yellow: #ff4;

// content-related colors
$color-js: $yellow;
$color-design: $pink;
$color-platform: $cyan;
$color-solo: $blue;

// spacing and layout
$pad-xs: 4px;
$pad-sm: 8px;
$pad-md: 16px;
$pad-lg: 24px;
$pad-xl: 32px;

$app-max-width: 1200px;
$tablet-width: 900px;
$phone-width: 600px;

$header-height: 40px;
$footer-height: 120px;