.card-container {
    display: inline-block;
    width: 33.3%;
    padding: $pad-md;

    @media all and (max-width: $tablet-width) {
        display: block;
        width: 100%;
    }
}

.card {
    background-color: $grey;
    width: 100%;
    padding: $pad-xl $pad-lg;
    vertical-align: top;
    height: 100%;
    transition: opacity 120ms;

    img {
        max-height: 120px;
        max-width: 100%;
        border-radius: 4px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }

    h3 {
        margin: $pad-xl 0;
    }

    p {
        font-style: italic;
        text-align: left;
    }

    .tags {
        text-align: left;
    }
    .tag {
        display: inline-block;
    }

    &:disabled {
        opacity: 0.2;
    }
}
