.app {
    width: 100%;
    max-width: $app-max-width;
    margin: $header-height auto $footer-height;
    padding: $pad-lg;
    padding-top: $pad-xl;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    h1 {
        display: flex;
        align-items: center;
        height: $header-height;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: $black;
        border-bottom: 1px solid;
        padding: $pad-md;
        font-size: 1em;
    }
}