.menu {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: -112px;
    height: $footer-height;
    width: 100%;
    z-index: 9;
    transition: margin 100ms;

    &.open {
        margin-bottom: 0;
    }

    .content-container {
        background-color: $black;
        border-top: 1px solid;
        padding: $pad-md 0;
        height: 100%;

        @media all and (max-width: $app-max-width) {
            padding: $pad-md;
        }
    }

    .menu-section {
        display: flex;
        flex-direction: column;
        padding-right: $pad-md;
    }

    .legend {
        margin-left: auto;
        padding-top: $pad-xs;
        font-style: italic;
    }
}

.menu-item {
    &::before { display: none; }
    &.active::before { display: block; }
}

.menu-buttons {
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    padding: $pad-md;

    .content-container {
        justify-content: flex-end;

        .icon-button {
            margin-left: $pad-xs;
            pointer-events: all;
        }
    }
}

// Shared class to make actual content have max width while centered
// Needs to be inside a flex container with 100% width
.content-container {
    display: flex;
    width: 100%;
    max-width: $app-max-width;
    margin: 0 auto;
}

@media all and (max-width: $tablet-width) {
    .menu {
        height: 160px;
        margin-bottom: -152px;
        display: block;
    
        &.open {
            margin-bottom: 0;
        }
    
        .content-container {
            display: block;
        }
    
        .menu-section {
            display: inline-block;
        }

        .menu-section-toggle-all {
            display: block;
        }
    }

    .menu-buttons {
        flex-direction: column;
    }
}

@media all and (max-width: $phone-width) {
    .menu {
        height: 300px;
        margin-bottom: -292px;

        .menu-section {
            display: block;
        }
    }
}