// Background overlay
.overlay {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: $black;
    z-index: 99;
}

// Popup container for easy centering
.popup {
    pointer-events: none;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: transparent;
    border: 0;
    z-index: 100;

    .close-button {
        pointer-events: all;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: $pad-md;
        margin-left: auto;
        margin-right: $pad-md;
    }

    @media all and (max-width: $phone-width) {
        padding-top: 64px;
    }
}

.popup-content {
    pointer-events: all;
    margin: auto;
    color: $white;
    background-color: $grey;
    font-size: 1em;
    font-family: monospace;
    max-height: 80%;
    max-width: 900px;
    padding: $pad-lg;
    border: 1px solid $white;
    overflow-y: auto;

    .heading {
        display: flex;
        align-items: center;
        margin-bottom: $pad-sm;
        margin-right: $pad-sm;
    }

    .heading-and-links {
        display: flex;
        align-items: center;
    }

    h2 {
        margin-right: $pad-md;
    }

    .links {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: $pad-md;

        .icon-button {
            margin-right: $pad-sm;
        }
    }

    .tags {
        margin-left: auto;
    }
    .tag {
        display: inline-block;
        padding-right: 0;
        margin-left: $pad-sm;
    }

    img {
        border-radius: 4px;
        width: 100%;
    }

    @media all and (max-width: $phone-width) {
        max-height: calc(100vh - 64px);
        height: 100%;
        width: 100vw;

        .heading {
            display: block;
        }
        
        .tag {
            margin-left: 0;
            margin-right: $pad-sm;
        }
    }
}